name: Create torrent
on:
  push:
    branches:
      - master
      
env:
  name: "Avatar 1 Water book"
  comment: "Android Studio for Windows"
  url: "https://sr9.mdiaload.com/files/1/tzmqgjmgo43j3z/Avatar.The.Last.Airbender.S01.1080p.BluRay.rar"
  file_name: "Avatar.The.Last.Airbender.S01.1080p.Bluray.rar"
  piece_size: 23 # Check the README.md for recommended piece size
      
jobs:
  create:
    runs-on: ubuntu-20.04
    steps:
      - name: Install mktorrent
        run: sudo apt-get install mktorrent
        
      - name: Download file
        run: wget -nv -O "$file_name" "$url"
        
      - name: Create torrent using mktorrent
        run: mktorrent -c "$comment" -l $piece_size -o "${name}.torrent" -w "$url" "$file_name"
        
      - name: Upload torrent file
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.name }}
          path: ${{ env.name }}.torrent
